/*game board*/
#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: fit-content;
    margin: 100px auto;
    border: 10px solid #000000;
}

.cell {
    width: 56px;
    height: 56px;
    background: #228b55;
    border: 2.5px groove #000000;
    position: relative;
    z-index: 0;
}

.disc {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.disc.black {
    background-color: #000000;
}

.disc.white {
    background-color: #ffffff;
}
/*
.highlight {
    width: 45px;
    height: 45px;
    border-color: gold;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
    */

.highlight {
    width: 42px;
    height: 42px;
    background: transparent;
    border: 3px solid gold;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.dot {
    width: 8px;
    height: 8px;
    background: #ff0000;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}


/*header*/
nav {

}

/*general*/
body {

}

main {

}

/*footer*/
