/*game board*/
#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: fit-content;
    margin: 100px auto;
    border: 10px solid #000000;
}

.cell {
    width: 56px;
    height: 56px;
    background: #228b55;
    border: 2.5px groove #000000;
    position: relative;
}

.disc {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disc.black {
    background-color: #000000;
}

.disc.white {
    background-color: #ffffff;
}


/*header*/
nav {

}

/*general*/
body {

}

main {

}

/*footer*/
